@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ### Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* ## Gradients */
  /* background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* ### Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --line-height: 130%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  min-height: 100vh;
  background: var(--pale-blue);
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 73.6rem;
  height: 51.2rem;
  border-radius: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  margin-inline: 4.1rem;
  box-shadow: 0 30px 60px 0 rgba(61, 108, 236, 0.15);
}

.card .result-section {
  color: white;
  padding: 3.9rem;
  border-radius: 3.2rem;
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.result-section > h2 {
  margin-bottom: 3.6rem;
}
.result-section .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    var(--violet-blue),
    var(--persian-blue)
  );
}

.result-section .circle h2 {
  font-size: 7.2rem;
}
.result-section h3 {
  font-size: 3.1rem;
  font-weight: var(--fw-extra-bold);
  margin-top: 3.3rem;
  margin-bottom: 1.5rem;
}
.result-section p {
  padding-left: 18px;
  padding-right: 8px;
}

/* Summary Section */
.summary-section {
  padding: 4.45rem 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: var(--line-height);
  gap: 3.2rem;
}
.summary-section h2 {
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  color: var(--dark-gray-blue);
}
.summary-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  line-height: var(--line-height);
}
.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.65rem 1.9rem;
  width: 100%;
  height: 5.6rem;
  border-radius: 1.2rem;
}
.summary-item .summary-item-label {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: var(--fw-medium);
  text-align: left;
}

.summary-item .summary-item-score {
  font-weight: var(--fw-bold);
  color: hsl(224, 30%, 27%, 0.5);
  opacity: 100%;
}
.summary-item-score span {
  color: var(--dark-gray-blue);
  margin-right: 0.8rem;
}
.summary-section .reaction {
  background: #fff6f7;
  color: var(--light-red);
}
.summary-section .memory {
  background: #fffaf4;
  color: var(--orangey-yellow);
}
.summary-section .verbal {
  background: #f2fdf9;
  color: var(--green-teal);
}
.summary-section .visual {
  background: #f4f4fe;
  color: var(--cobalt-blue);
}
.summary-section button {
  border-radius: 12.8rem;
  border-style: none;
  background: var(--dark-gray-blue);
  font-weight: var(--fw-bold);
  font-size: 1.8rem;
  color: var(--white);
  cursor: pointer;
  width: 100%;
  height: 5.6rem;
  border-radius: 2.8rem;
  align-self: center;
  line-height: var(--line-height);
}
.summary-section button:hover {
  background-image: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  .card {
    height: 100vh;
    width: 100%;
    min-width: 28rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35.6rem 1fr;
    row-gap: 24px;
    border-radius: 0;
    margin-inline: 0;
  }
  .card .result-section {
    border-radius: 0 0 3.2rem 3.2rem;
    height: 35.6rem;
    padding: 2.2rem;
    box-shadow: 0 30px 60px 0 rgba(61, 108, 236, 0.15);
    z-index: 1;
  }
  .result-section .circle {
    width: 13.6rem;
    margin-bottom: 1.5rem;
  }
  .result-section > h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .result-section h3 {
    margin-top: 1rem;
    margin-bottom: 1;
    font-size: 2.5rem;
  }
  .result-section .circle h2 {
    font-size: 5.5rem;
  }
  .summary-section {
    border-radius: 0;
    background: white;
    margin-inline: 3rem;
    padding: 0;
    gap: 2.4rem;
    display: flex;
    justify-content: flex-start;
  }
  .summary-item .summary-item-label {
    font-weight: var(--fw-medium);
  }
  .summary-item .summary-item-score {
    font-weight: var(--fw-bold);
  }

  .summary-section button {
    width: 80%;
  }
}
@media (min-width: 400px) and (max-width: 475px) {
  .summary-section button {
    width: 100%;
  }
}
